.heading-secondary {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 2.8rem;
  transition: all 0.3s ease;
  
  font-family: var(--font-family-heading);

  &:hover {
    color: var(--color-secondary-light);
  }
}

.heading-teritiary {
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 2rem;
  transition: all 0.3s ease;

  &:hover {
    color: var(--color-secondary-light);
  }
}
