{% extends 'blog/base.html' %} {% block content %}
<form action="#" method="post">
  {% csrf_token %}
  <fieldset class="form__group">
    <legend class="form__title">Log In</legend>
    {{ form }}
  </fieldset>
  <div class="form__group">
    <button type="submit" class="form__btn">Login</button>
  </div>
  <small>
    <a href="{% url 'password_reset' %}">Forgot password ?</a>
  </small>
  <div class="form_group">
    <smalll class="form__query"
      >Do not have an account ?
      <a href="{% url 'register' %}" class="form__link">Sign Up Now</a>
    </smalll>
  </div>
</form>
{% endblock %}
