.form-wrapper {
//   @include flexColCenter(1rem);
  padding: 2rem;
  background-color: var(--color-secondary-xtra-light);
  border-radius: 1.2rem;
  max-width: 50rem;
  margin: 2rem auto;
  font-size: 1.2rem;
  font-family: var(--font-family-heading);
}
